// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
//$primary: #902727;
//$primary: #156384;
$primary: #2E7D32;
$primary: #2E7D32; // Utiliser la couleur "pompier" comme primaire (plus de bleu)
$dark: rgb(255, 255, 255);
//$dark: #156384;
//$dark: rgb(255, 0, 25);
//$dark:#391e1e;
//$black:  #292222;
$black: #2E7D32;
//$black: #f4e32c;
//$bg-black: #2E7D32;
$white: #F5E6CC;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

// Couleurs spécifiques projet
$admin-color: #2E7D32; // couleur "pompier" réservée aux pages privées/admin
$public-bg: #F5E6CC;  // couleur de fond/navbar pour la zone publique

// Utilitaires dédiés (préférer ces classes plutôt que d'écraser .bg-primary)
.bg-pompier {
	background-color: $admin-color !important;
}
.navbar.bg-pompier .nav-link,
.navbar.bg-pompier .navbar-brand {
	color: #fff !important;
}

.bg-public {
	background-color: $public-bg !important;
}
.navbar.bg-public .nav-link,
.navbar.bg-public .navbar-brand {
	color: $admin-color !important;
}