// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
//$primary: #902727;
$primary: #156384;
$secondary: #c89898;
$dark: rgb(196, 29, 29);
//$dark: #156384;
//$dark: rgb(255, 0, 25);
//$dark:#391e1e;
$black:  #292222;
//$black: #f4e32c;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here