@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
  position: relative;
  min-height: 100%;
  //margin: 0;
  //padding: 0;
  //height: 100%;
  //width: 100%;
}

.bg-black{
  background-color: #F5E6CC;
}
.bg-white{
  background-color: #2E7D32;
}

main{
  margin-bottom: 250px;
}
.policeNav{
  color: rgb(196, 29, 29);
  //color: #292222;
  font-weight: bold;
}
 #contact {
  align-items: center !important;
 }
.mail{
  color: #292222;
  font-weight: bold;
  
}

.mail:hover{
    color: rgb(246, 203, 203);
  }

footer.footer{
  padding: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;  
}

p{
  font-family: $font-family-serif;
  font-size: 16px;
}
 #cre4 {
  border: 2px solid rgb(196, 29, 29);
  color: rgb(196, 29, 29);
  &:hover {
  text-decoration: underline;
  text-decoration-color: #2E7D32; /* Couleur de la ligne */
  text-decoration-thickness: 2px; /* Épaisseur de la ligne */
  text-decoration-style: wavy; /* Double ligne */
}
 }
 
.cadre {
  border: 2px solid #000; /* Bordure noire de 2 pixels */
  padding: 10px; /* Espacement intérieur de 10 pixels */
  width: fit-content; /* Ajuste la largeur au contenu */
  margin: 20px auto; /* Centre le cadre horizontalement */
  background-color: rgb(255, 255, 255); /* Couleur de fond légèrement grise */
  border-radius: 5px; /* Coins arrondis */
}

// hero-scene
.hero-scene{
      position: relative;
      //margin-bottom: 5px;
      &::before{
          content:"";
          position: absolute;
          top:-80px;
          left:0;
          width:100%;
          height:170%;
          background-image: url(../Images/groupe2023.jpg);
          background-size: cover;
          filter: brightness(0.6);
      }

      *{
          //Positionner les éléments devant le ::before
          position:relative;
      }

      .hero-scene-text{
        align-items: center;
        margin-top: 90px;
      }
      
.hero-scene-content{
          height: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
  }

  // texte home page
.text-justify{
    text-align: justify;
  }

  .policeDrop {
    color:rgb(196, 29, 29);
    font-weight: 700;

  }

.form-label{
  color: $primary;
}

.allreservations {
  a{
  display: block;
  color: $black;
  padding: 10px;
  }
}

.image-card{
  position: relative;
  &:hover{
    .titre-image,
    .action-image-buttons{
      opacity: 1;
    }
    img{
      filter: brightness(0.3);
    }
  }

  img{
    transition: all 0.3s;;
  }

  .titre-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s;
  }

  .action-image-buttons{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    
    opacity: 0;
    transition: all 0.3s;
  }
}

.contact {
  font-size: 12px;
  color: red;
  border: 4px solid rgb(196, 29, 29);
}

// Pages Manifestations

#contact {
  font-size: 20px;
  color: red;
  text-align: center;
  background-color: #F5E6CC;
} 
.conteneur-flex {
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  height: 200px; /* Hauteur du conteneur */
}

.event {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  align-items: center;
}

.event_2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  align-items: center;
}

#video {
  border: 2px solid rgb(196, 29, 29); 
  padding: 5px; 
}

// Font google
.emilys-candy-regular {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}

.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


//pages infos perso

table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

//page vide grenier

.full-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

// page informations

.carte-sapeurs {
 text-align: center;
}



// page Admin

.admin {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(196, 29, 29);
  background-color: rgb(227, 227, 227);
}

// page SPV

.spv {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(196, 29, 29);
  background-color: rgb(227, 227, 227);
}

// page galerie

.commentaires {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: first baseline;
}

 // le Carrousel d'images de la galerie

/* Définition d'un container pour gérer l'affichage */
.container {
    overflow: hidden;
    /* Cache les éléments qui dépassent du container */
}

/* Définition du carousel */
.carousel {
    position: relative;
    /* Le carousel est positionné relativement à son parent */
}

/* Définition de l'élément contenant les diapositives */
.carousel-inner {
    display: flex;
    /* Affiche les éléments en ligne */
    overflow: hidden;
    /* Cache les éléments qui dépassent */
    height: 90vh;
    /* Hauteur égale à 100% de la hauteur de la vue */
    flex-wrap: nowrap;
    /* Empêche les éléments de se placer sur plusieurs lignes */
}

/* Définition des diapositives */
.slide {
    flex: 0 0 100%;
    /* Largeur de chaque diapositive est de 100% */
    height: 100%;
    /* Hauteur de chaque diapositive est de 100% */
    transition: .5s ease-in-out;
    /* Ajout d'une animation douce pour la transition entre les diapositives */
}

/* Définition de l'affichage de l'image de chaque diapositive */
.slide img {
    width: 100%;  
    /* Largeur de l'image est de 100% */
    height: 100%;  
    /* Hauteur de l'image est de 100% */
    object-fit: cover;
    /* Couvre tout l'espace disponible */
}

/* Définition des boutons de contrôle du carousel */
.carousel-controls {
    position: absolute;
    /* Les boutons sont absolument positionnés */
    z-index: 5;
    /* Ils sont placés au-dessus des autres éléments */
    left: 0%; //10%
    /* La distance à gauche est de 10% */
    right: 0%; //10%
    /* La distance à droite est de 10% */
    top: 50%;
    /* La distance du haut est de 50% */
    display: flex;
    /* Affiche les boutons en ligne */
    justify-content: space-between;
    /* Espacement égal entre les boutons */
}

/* Style des boutons de contrôle */
.carousel-controls button {
    padding: 10px;
    /* Ajout de padding pour un meilleur contrôle */
    background-color: aquamarine;
    /* Arrière-plan en aquamarine */
}

/* Définition des points de contrôle */
.carousel-dots {
    position: absolute;
    /* Les points sont absolument positionnés */
    z-index: 5;
    /* Ils sont placés au-dessus des autres éléments */
    left: 50%;
    /* La distance à gauche est de 50% */
    right: 50%;
    /* La distance à droite est de 50% */
    bottom: 10%;
    /*La distance du bas est de 10% */
    display: flex;
    /* Affiche les points en ligne */
    justify-content: center;
    /* Centrage des points */
}

/* Style des points de contrôle */
.carousel-dots .dot {
    border-radius: 50%;
    /* Les points sont en forme de cercle */
    margin: 5px;
    /* Ajout d'un margin pour un meilleur contrôle */
    cursor: pointer;
    /* Curseur en forme de main pour un meilleur contrôle */
}

/* Styles pour les points de navigation du carrousel */
.carousel-dots .active {
    /* Border de 10px pour le point actif */
    border: 10px solid rgb(196, 29, 29) !important;
    /* !important permet de surcharger les autres styles éventuels */
}

.carousel-dots .inactive {
    /* Border de 10px pour les points inactifs */
    border: 10px solid #156384;
}

// Pages liens utiles

// decorations des liens utiles
.liens {
  text-decoration: underline;
  font-weight: bold;
}

//mise en forme du cadre des liens utiles
.liens-utiles{
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(196, 29, 29);
  background-color: rgb(227, 227, 227);
}

// page calendrier

.calendar {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
      max-width: 300px;
      margin: auto;
    }
    .day {
      padding: 10px;
      text-align: center;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    .day:hover {
      background-color: #f0f0f0;
    }

    .bleu{
      border: 2px solid rgb(0, 13, 255); 
      padding: 5px;
    }

    .jaune{
      border: 2px solid #f6ff00; 
      padding: 5px;
    }

    .verte{
      border: 2px solid rgb(17, 255, 0); 
      padding: 5px;
    }