@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
  position: relative;
  min-height: 100%;
  //margin: 0;
  //padding: 0;
  //height: 100%;
  //width: 100%;
}

.bg-black{
  background-color: #F5E6CC;

}
.bg-white{
  background-color: #2E7D32;
}

main{
  margin-bottom: 250px;
}

.policeNav{
  color: rgb(196, 29, 29);
  //color: #292222;
  font-weight: bold;
}

 #contact {
  align-items: center !important;
 }

.mail{
  color: #292222;
  font-weight: bold;
}

.mail:hover{
    color: rgb(246, 203, 203);
}

footer.footer{
  padding: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;  
}

p{
  font-family: $font-family-serif;
  font-size: 16px;
}

 #cre4 {
  border: 2px solid rgb(196, 29, 29);
  color: rgb(196, 29, 29);
  &:hover {
  text-decoration: underline;
  text-decoration-color: #2E7D32; /* Couleur de la ligne */
  text-decoration-thickness: 2px; /* Épaisseur de la ligne */
  text-decoration-style: wavy; /* Double ligne */
  }
}
 
.cadre {
  border: 2px solid #000; /* Bordure noire de 2 pixels */
  padding: 10px; /* Espacement intérieur de 10 pixels */
  width: fit-content; /* Ajuste la largeur au contenu */
  margin: 20px auto; /* Centre le cadre horizontalement */
  background-color: rgb(255, 255, 255); /* Couleur de fond légèrement grise */
  border-radius: 5px; /* Coins arrondis */
}


// hero-scene
.hero-scene{
      position: relative;
      //margin-bottom: 5px;
      &::before{
          content:"";
          position: absolute;
          top:-80px;
          left:0;
          width:100%;
          height:170%;
          background-image: url(../Images/groupe2023.jpg);
          background-size: cover;
          filter: brightness(0.6);
      }

      *{
          //Positionner les éléments devant le ::before
          position:relative;
      }

      .hero-scene-text{
        align-items: center;
        margin-top: 90px;
      }
      
.hero-scene-content{
          height: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
  }


  // texte home page
.text-justify{
    text-align: justify;
}

.policeDrop {
    color:rgb(196, 29, 29);
    font-weight: 700;

}

.form-label{
  color: $primary;
}

.allreservations {
  a{
  display: block;
  color: $black;
  padding: 10px;
  }
}

.image-card{
  position: relative;
  &:hover{
    .titre-image,
    .action-image-buttons{
      opacity: 1;
    }
    img{
      filter: brightness(0.3);
    }
  }

  img{
    transition: all 0.3s;;
  }

  .titre-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s;
  }

  .action-image-buttons{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.3s;
  }
}

.contact {
  font-size: 12px;
  color: red;
  border: 4px solid rgb(196, 29, 29);
}


// Pages Manifestations

#contact {
  font-size: 20px;
  color: red;
  text-align: center;
  background-color: #F5E6CC;
} 

.conteneur-flex {
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  height: 200px; /* Hauteur du conteneur */
}

.event {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  align-items: center;
}

.event_2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  align-items: center;
}

#video {
  border: 2px groove rgb(196, 29, 29); 
  padding: 5px; 
}

// Font google
.emilys-candy-regular {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}

.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


//pages infos perso

table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


//page vide grenier

.full-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.resa {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(196, 29, 29);
  background-color: #2E7D32;
} 


// page informations

.carte-sapeurs {
 text-align: center;
}


// page Admin

.admin {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(196, 29, 29);
  background-color: rgb(227, 227, 227);
}


// page SPV

.spv {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(196, 29, 29);
  background-color: rgb(227, 227, 227);
}


// page galerie

.commentaires {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: first baseline;
}

// Bouton supprimer 
.delete-button:hover {
  background-color: #2E7D32;
  color: white;
  border: 1px solid rgb(196, 29, 29);
}

.zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}
.zoom :hover img { 
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


// Pages liens utiles

// decorations des liens utiles
.liens {
  text-decoration: underline;
  font-weight: bold;
}

//mise en forme du cadre des liens utiles
.liens-utiles{
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(196, 29, 29);
  background-color: rgb(227, 227, 227);
}


// page calendrier

.calendar {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
      max-width: 300px;
      margin: auto;
    }

.day {
      padding: 10px;
      text-align: center;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    .day:hover {
      background-color: #f0f0f0;
    }

.bleu{
  border: 2px solid rgb(0, 13, 255); 
  padding: 5px;
}

.jaune{
  border: 2px solid #f6ff00; 
  padding: 5px;
}

.verte{
  border: 2px solid rgb(17, 255, 0); 
  padding: 5px;
}


// Page VideGrenier

.ratio {
  aspect-ratio: 16 / 9; /* Ratio de l'iframe */
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(196, 29, 29);
  background-color: #2E7D32;
}


// Blog

.blog_table {
  width: 1300px;
  margin: 0 auto;
  border-collapse: collapse;
}

.blog_table td, .blog_table tr {
  border: 1px solid rgb(196, 29, 29);
  padding: 8px;
  text-align: left;
}

.blog_table tr {
  background-color:  rgb(227, 227, 227);
}

.blog_table b {
  color: #2E7D32;
  text-decoration: rgb(196, 29, 29) wavy underline;
}

.uploads {
  width:150px; 
  height:auto;
}

// Mot de passe

.password-container {
      display: flex;
      align-items: center;
    }
    .toggle-btn {
      margin-left: 10px;
      cursor: pointer;
    }